<!DOCTYPE html>
<html>
  <head>
    <title>Imagenes anuncios</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Foto anuncio</h1>
    <img src = "http://localhost:3000/images/<%= photo %>" alt= <%= photo %>>
    <p><%= photo %></p>
    </body>
</html>
