<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Login</h1>
    <form action="/api/usuarios/login" method="POST">
        <label for="email">Email </label>
        <input type="text" name="email"></input>
        <label for="clave">Clave </label>
        <input type="password" name="clave"></input>
        <input type="submit"></input>
    </form>
    </body>
</html>
